* {
  margin: 0;
  padding: 0;
}

.navigation-container {
  background-color: #fdce87;
}

.navigation-container .nav-list {
  max-width: 924px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-container .nav-link {
  padding: 5px;
  list-style: none;
}

.navigation-container .nav-link:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-color: #F0EBCC;
}

.navigation-container a {
  text-decoration: none;
  padding: 5px;
  text-transform: uppercase;
  color: black;
  font-size: 12px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-body-container {
  max-width: 924px;
  margin: 0 auto;
  padding: 30px;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 20px;
}

.text-inside-image-container {
  position: relative;
}

.text-inside-image-container div {
  position: absolute;
  color: white;
  height: 72px;
  width: 672px;
  padding: 5px;
  background-color: #000000a3;
  bottom: 3px;
  left: 0;
}

.text-inside-image-container div p {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.side-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.md-image-text {
  width: 212px;
  margin-bottom: 22px;
  border-radius: 10px;
  overflow: hidden;
}

.image-text {
  position: relative;
}

.image-text img {
  width: 212px;
  height: auto;
}

.aside-date {
  position: absolute;
  bottom: 3px;
  width: 100%;
  background-color: #000000d2;
}

.aside-date p {
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.aside-date p time {
  float: right;
}

.some-text {
  background-color: #000000;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: white;
  padding: 5px;
  font-size: 10px;
}

.global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 31px 0 19px;
}

.global h1 {
  padding: 3px;
}

.global div {
  margin: 10px;
}

.global div h2:hover {
  background-color: #ff00008c;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #ffff;
  border: 2px solid white;
}

.global-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.md-image-text-glob {
  width: 148px;
  margin: 11px;
  border-radius: 10px;
  overflow: hidden;
}

.md-image-text-glob .aside-date {
  padding: 2px;
  font-family: 'Lato', sans-serif;
  font-size: 5px;
  font-weight: lighter;
  color: white;
  text-transform: uppercase;
}

.nepal-uae-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nepal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.uae-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.md-image-text-enter {
  width: 212px;
  margin-right: 25px;
  border-radius: 10px;
  overflow: hidden;
}

.md-image-text-enter .aside-date {
  padding: 2px;
  font-family: 'Lato', sans-serif;
  font-size: 5px;
  font-weight: lighter;
  color: white;
  text-transform: uppercase;
}

.slider-container {
  position: relative;
  height: 100%;
}

.slider-container {
  width: 924px;
  height: 465px;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 5px auto;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-container {
  background: #000;
  color: #000;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 90%;
  width: 100%;
}

.mySwiper {
  height: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pics-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.pic-container img {
  width: 225px;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-with-text-container {
  position: relative;
}

.texts-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(102, 102, 102, 0.761);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 110px;
}

h3 {
  background-color: black;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 15px;
  font-weight: regular;
  text-align: center;
  text-transform: capitalize;
  padding: 5px;
}

.date {
  color: white;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: normal;
  text-align: start;
  padding: 5px;
}

.some-texts {
  margin: 5px;
  font-size: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

footer {
  background-color: #F0EBCC;
  padding: 25px 0;
}

.footer-container {
  background-color: black;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.nav-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.nav-links a {
  color: #767676;
  border-left: grey solid 2px;
  padding-left: 31px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  border-spacing: 50px;
}

body {
  background-color: #F0EBCC;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 14px;
  border-radius: 15px;
  padding: 5px;
  text-transform: uppercase;
  border: 2px solid black;
}

a {
  text-decoration: none;
  color: black;
}

p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.date-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */